* {
    box-sizing:border-box;
    margin:0;
    padding:0;
  }

  a {
    text-decoration: none;
    color: #D5CAB5;
  }


  body {
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
      margin: 0 auto;
      background-color: #675D3D;
  }

  footer {
    background-color: #909470;
    padding: 1% 1% 1% 1%;
  }

  h3 {
    color: #D5CAB5;
    font-size: 1.5em;
  }

  html{
    background-color: #363219;
  } 

  main {
    padding: 0 1% 0 1%;
  }

  nav, header {
    background-color: #909470;
  }

  nav li{
    padding: 1%;
    background-color: #675D3D;
    border-radius: 15px;
  }

  nav li:hover{
    background-color: #363219;
  }

  #login a {
    padding-right: 1%;
    text-decoration: none;
    color: black;
  }

  #smoothJazz {
    padding: 1% 0 1% 0;
  }

  @media screen and (min-width: 1200px) {
    body {
      max-width: 1200px;
    }
  }

  @media screen and (min-width: 1200px) {

      .cover {
        z-index: 1;
      }

      .play {
        position: absolute;
        bottom: 65px;
        left: 115px;
        z-index: 2;
        opacity: 66%;
      }

      .play:hover {
        opacity: 100%;
      }

      #continue {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }

      #continue figure {
        max-width: 300px;
      }

      figure {
        padding: 2% 0 2% 0;
      }

      h2 {
        font-size: 2em;
        color: #D5CAB5;
      }

      header {
        display: flex;
        padding: 1% 0 1% 0;
        align-items: center;
        padding: 1% 1% 1% 1%;
      }
  
      header h1{
        flex: 50%;
        font-size: 3em;
        color: #D5CAB5;
      }

      #login {
        flex: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: right;
    }

      nav {
          display: flex;
          align-items: center;
          padding: 1% 1% 1% 1%;
      }

      nav p {
        padding-right: 2%;
        text-decoration: none;
        color: black;
      }

      nav ul{
        flex: 66%;
      }

      nav li{
        display: inline-flex;
        font-size: 1.25em;
      }

      #playlists {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-bottom: 2%;
      }

      #playlists figcaption {
        font-size: 1.25em;
        max-width: 450px;
      }

      #smoothJazz {
        padding: 2% 0 2% 0;
      }

      #smoothJazz p{
        font-size: 1.5em;
        color: #D5CAB5;
      }

      #search {
          flex: 33%;
          display: inline-flex;
          align-items: center;
          justify-content: right;
      }

      #trending {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }

      #trending audio, #trending figcaption {
        max-width: 200px;
      }

  }

  @media screen and (max-width: 1200px) {

    #continue {
      display: grid;
      grid-template-columns: 1fr;
    }

    #playlists {
      display: grid;
      grid-template-columns: 1fr;
      padding-bottom: 2%;
    }

    header {
      display: block;
      padding: 1% 1% 1% 1%;
    }

    header h1{
      flex: 30%;
      font-size: 3em;
      color: #D5CAB5;
      text-align: center;
    }

    #login {
      flex: 70%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    nav {
      width: 100%;
      justify-content: center;
      padding: 1% 1% 1% 1%;
    }

    nav li{
      font-size: 1.25em;
      margin-bottom: 5%;
      text-align: center;
    }

    nav ul {
      margin: 0 auto;
      list-style-type: none;
    }

    .play {
      position: absolute;
      bottom: 65px;
      left: 115px;
      z-index: 2;
      opacity: 66%;
    }

    #trending {
      justify-content: center;
    }

    #trending figure{
      padding-bottom: 5%;
    }

    #trending audio, #trending figcaption {
      max-width: 200px;
    }

    #search {
      display: inline-flex;
      align-items: center;
    }

    #playlists img{
      max-width: 400px;
    }

    #playlists figure{
      padding-bottom: 2%;
    }

    #playlists figcaption {
      font-size: 1.25em;
      max-width: 450px;
    }


  }