* {
    box-sizing:border-box;
    margin:0;
    padding:0;
  }

  body {
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
      margin: 0 auto;
      background-color: #675D3D;
      padding: 0 1% 0 1%;
  }

  h3 {
    color: #D5CAB5;
  }

  header {
      display: flex;
      padding: 1% 0 1% 0;
      align-items: center;
  }

  header h1{
    flex: 50%;
    font-size: 3em;
    color: #D5CAB5;
    
  }

  html{
    background-color: #363219;
  }

  #login {
      flex: 50%;
      display: inline-flex;
      align-items: center;
      justify-content: right;
  }

  #login a {
    padding-right: 1%;
    text-decoration: none;
    color: black;
  }

  #smoothJazz {
    padding: 1% 0 1% 0;
  }

  @media screen and (min-width: 1200px) {
    body {
      max-width: 1200px;
    }
  }

  @media screen and (min-width: 1100px) {
      figure {
        padding: 2% 0 2% 0;
      }

      h2 {
        font-size: 2em;
        color: #D5CAB5;
      }

      nav {
          display: flex;
          padding: 0.5% 0 0.5% 0;
          align-items: center;
      }

      nav p {
        padding-right: 2%;
        text-decoration: none;
        color: black;
      }

      nav ul{
        flex: 66%;
      }

      nav li{
        display: inline-flex;
        padding: 1%;
        background-color: #909470;
        border-radius: 15px;
        font-size: 1.25em;
      }

      nav li:hover{
        background-color: #8A988D;
      }

      #smoothJazz p{
        font-size: 1.5em;
        color: #D5CAB5;
      }

      #search {
          flex: 33%;
          display: inline-flex;
          align-items: center;
          justify-content: right;
      }

      #trending {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }

  }